<div class="w-full p-2">
    <button
        class="
        px-4 
        py-2 
        rounded-lg 
        border 
        border-solid 
        w-full 
        font-bold 
        disabled:opacity-50 
        disabled:cursor-not-allowed
        text-sm
        transition-colors
        "
        [class.bg-blue-500]="style() === 'primary'"
        [class.dark:bg-gradient-to-r]="style() === 'primary'"
        [class.dark:from-purple-500]="style() === 'primary'"
        [class.dark:to-purple-700]="style() === 'primary'"
        [class.text-white]="style() === 'primary'"
        [class.bg-white]="style() === 'secondary'"
        [class.dark:bg-gray-800]="style() === 'secondary'"
        [class.text-blue-500]="style() === 'secondary'"
        [class.dark:text-transparent]="style() === 'secondary'"
        [class.dark:bg-clip-text]="style() === 'secondary'"
        [class.dark:bg-gradient-to-r]="style() === 'secondary'"
        [class.dark:from-purple-400]="style() === 'secondary'"
        [class.dark:to-purple-600]="style() === 'secondary'"
        [class.border-blue-500]="style() === 'secondary'"
        [class.dark:border-purple-500]="style() === 'secondary'"
        [type]="type()"
        (click)="action()"
        [attr.aria-disabled]="isDisabled()"
        [disabled]="isDisabled()"
    >
        {{label()}}
    </button>
</div>