<div 
    class="p-4 mb-4 rounded-lg cursor-pointer shadow-md transition-colors"
    [class.bg-green-100]="type() === 'success'"
    [class.dark:bg-green-900]="type() === 'success'"
    [class.text-green-800]="type() === 'success'"
    [class.dark:text-green-200]="type() === 'success'"
    [class.bg-yellow-100]="type() === 'warning'"
    [class.dark:bg-yellow-900]="type() === 'warning'"
    [class.text-yellow-800]="type() === 'warning'"
    [class.dark:text-yellow-200]="type() === 'warning'"
    [class.bg-red-100]="type() === 'error'"
    [class.dark:bg-red-900]="type() === 'error'"
    [class.text-red-800]="type() === 'error'"
    [class.dark:text-red-200]="type() === 'error'"
    (click)="dismiss()"
>
    {{ message() }}
</div>