/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@source "./**/*.{html,ts}";

/* Configuração do dark mode para Tailwind CSS 4 */
@custom-variant dark (&:where(.dark, .dark *));
